{% extends 'posts/layout.html' %}

{% block content %}

<div class="container-fluid text-center" style="margin-top: 100px">
    <h1 style="margin-bottom: 50px; margin-top: 50px">Here is everything you need to know</h1>
    <p class="lead text-center" style="margin-bottom: 10px">
            Your country: <strong>{{ country }}</strong>
        </p>
        <p class="lead text-center" style="margin-top: 10px; margin-bottom: 10px">
            You want to immigrate to: <strong>{{ destination }}</strong>
        </p>
    <p class="lead text-center" style="margin-top: 10px; margin-bottom: 10px">
            You plan to relocate through: <strong>{{ activity }}</strong>
        </p>
</div>

<div class="container text-center" style="margin-top: 50px; margin-bottom: 50px">
    <div class="accordion" id="accordion2">
        <div class="card" style="background-color: white">
            <div class="accordion-group">
                <div class="card-header text-left" id="headingOne" style="border-bottom: 0px">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                       <h4 style="color: #03c1c7"><i class="fas fa-angle-down fa-fw menuIcon"></i>General information</h4>
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in show">
                    <div class="accordion-inner">
                        <div class="card-body text-left">
                            {{ general_information|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color: white">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="card-header text-left" id="headingTwo" style="border-bottom: 0px">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                            <h4 style="color: #03c1c7"><i class="fas fa-angle-down fa-fw menuIcon"></i>Documents you need</h4>
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse in show">
                        <div class="accordion-inner">
                            <div class="card-body text-left">
                                {{ result_documents|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color: white">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="card-header text-left" id="headingThree" style="border-bottom: 0px">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                            <h4 style="color: #03c1c7"><i class="fas fa-angle-down fa-fw menuIcon"></i>Processes</h4>
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse in show">
                        <div class="accordion-inner">
                            <div class="card-body text-left">
                                {{ result_processes|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color: white">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="card-header text-left" id="headingFour">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                            <h4 style="color: #03c1c7"><i class="fas fa-angle-down fa-fw menuIcon"></i>Useful contact data</h4>
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse in show">
                        <div class="accordion-inner">
                            <div class="card-body text-left">
                                {{ result_contact_data|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}