{% extends "posts/layout.html" %}
{% block content %}
<div class="container-fluid text-center" style="margin-top: 100px">
    <h1 class="lead" style="margin-bottom: 40px"><strong><font size="36">Immigration blog</font></strong></h1>
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ object.author }}</a>
                        <small class="text-muted">{{ object.created_at|date:"F d, Y" }}</small>
                    </div>
                    <h2 class="article-title">{{ object.title }}</h2>
                    <p class="article-content">{{ object.introduction }}</p>
                    <p class="article-content">{{ object.body }}</p>
                </div>
            </article>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-info rounded text-white">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>

             <div class="p-3 mb-3 bg-info rounded text-white">
                <h4 class="font-italic">Featured post</h4>
                <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
        </aside>

{% endblock %}