{% extends 'posts/layout.html' %}

{% block content %}

<div class="container text-center" style="margin-top: 100px">
    <h1>Subscribe!</h1>
    <p class="lead text-center" style="margin-top:30px; margin-bottom: 30px">
        If you would like to stay up to date with changes in immigration policies, be notified about our new posts and changes, you can subscribe below.
    </p>
    <p class="lead text-center">Please provide your email address and click "Subscribe" button</p>
</div>
<div class="d-flex justify-content-center align-items-center container" style="margin-top: 50px; margin-bottom: 150px">
        <form class="form-inline form-center">
            <input class="form-control mr-sm-2" type="email" placeholder="Your email address" aria-label="Email">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button>
        </form>
</div>

{% endblock %}